fastapi
uvicorn[standard]
python-multipart
python-dotenv
requests
openai
mcp

langchain-core
langchain-openai
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-classic
langchain-chroma
langgraph

chromadb
docx2txt
pypdf
